grupa_2/damdrempe/damdrempe_projekt/damdrempe_aplikacija_2_2/src/conf/xml-resources/web-service-references/GeoMeteoWS/wsdl/localhost_8084/damdrempe_aplikacija_1/GeoMeteoWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://serveri.ws.damdrempe.nwtis.foi.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://serveri.ws.damdrempe.nwtis.foi.org/" name="GeoMeteoWS">
<types>
<xsd:schema>
<xsd:import namespace="http://serveri.ws.damdrempe.nwtis.foi.org/" schemaLocation="http://localhost:8084/damdrempe_aplikacija_1/GeoMeteoWS?xsd=1"/>
</xsd:schema>
</types>
<message name="dajMeteoPodatkeZaPeriodTimestamp">
<part name="parameters" element="tns:dajMeteoPodatkeZaPeriodTimestamp"/>
</message>
<message name="dajMeteoPodatkeZaPeriodTimestampResponse">
<part name="parameters" element="tns:dajMeteoPodatkeZaPeriodTimestampResponse"/>
</message>
<message name="dajVazeceMeteoPodatke">
<part name="parameters" element="tns:dajVazeceMeteoPodatke"/>
</message>
<message name="dajVazeceMeteoPodatkeResponse">
<part name="parameters" element="tns:dajVazeceMeteoPodatkeResponse"/>
</message>
<message name="dajMeteoPodatkeZaPeriodLong">
<part name="parameters" element="tns:dajMeteoPodatkeZaPeriodLong"/>
</message>
<message name="dajMeteoPodatkeZaPeriodLongResponse">
<part name="parameters" element="tns:dajMeteoPodatkeZaPeriodLongResponse"/>
</message>
<message name="dajZadnjihNMeteopodataka">
<part name="parameters" element="tns:dajZadnjihNMeteopodataka"/>
</message>
<message name="dajZadnjihNMeteopodatakaResponse">
<part name="parameters" element="tns:dajZadnjihNMeteopodatakaResponse"/>
</message>
<message name="dajZadnjeMeteoPodatke">
<part name="parameters" element="tns:dajZadnjeMeteoPodatke"/>
</message>
<message name="dajZadnjeMeteoPodatkeResponse">
<part name="parameters" element="tns:dajZadnjeMeteoPodatkeResponse"/>
</message>
<portType name="GeoMeteoWS">
<operation name="dajMeteoPodatkeZaPeriodTimestamp">
<input wsam:Action="http://serveri.ws.damdrempe.nwtis.foi.org/GeoMeteoWS/dajMeteoPodatkeZaPeriodTimestampRequest" message="tns:dajMeteoPodatkeZaPeriodTimestamp"/>
<output wsam:Action="http://serveri.ws.damdrempe.nwtis.foi.org/GeoMeteoWS/dajMeteoPodatkeZaPeriodTimestampResponse" message="tns:dajMeteoPodatkeZaPeriodTimestampResponse"/>
</operation>
<operation name="dajVazeceMeteoPodatke">
<input wsam:Action="http://serveri.ws.damdrempe.nwtis.foi.org/GeoMeteoWS/dajVazeceMeteoPodatkeRequest" message="tns:dajVazeceMeteoPodatke"/>
<output wsam:Action="http://serveri.ws.damdrempe.nwtis.foi.org/GeoMeteoWS/dajVazeceMeteoPodatkeResponse" message="tns:dajVazeceMeteoPodatkeResponse"/>
</operation>
<operation name="dajMeteoPodatkeZaPeriodLong">
<input wsam:Action="http://serveri.ws.damdrempe.nwtis.foi.org/GeoMeteoWS/dajMeteoPodatkeZaPeriodLongRequest" message="tns:dajMeteoPodatkeZaPeriodLong"/>
<output wsam:Action="http://serveri.ws.damdrempe.nwtis.foi.org/GeoMeteoWS/dajMeteoPodatkeZaPeriodLongResponse" message="tns:dajMeteoPodatkeZaPeriodLongResponse"/>
</operation>
<operation name="dajZadnjihNMeteopodataka">
<input wsam:Action="http://serveri.ws.damdrempe.nwtis.foi.org/GeoMeteoWS/dajZadnjihNMeteopodatakaRequest" message="tns:dajZadnjihNMeteopodataka"/>
<output wsam:Action="http://serveri.ws.damdrempe.nwtis.foi.org/GeoMeteoWS/dajZadnjihNMeteopodatakaResponse" message="tns:dajZadnjihNMeteopodatakaResponse"/>
</operation>
<operation name="dajZadnjeMeteoPodatke">
<input wsam:Action="http://serveri.ws.damdrempe.nwtis.foi.org/GeoMeteoWS/dajZadnjeMeteoPodatkeRequest" message="tns:dajZadnjeMeteoPodatke"/>
<output wsam:Action="http://serveri.ws.damdrempe.nwtis.foi.org/GeoMeteoWS/dajZadnjeMeteoPodatkeResponse" message="tns:dajZadnjeMeteoPodatkeResponse"/>
</operation>
</portType>
<binding name="GeoMeteoWSPortBinding" type="tns:GeoMeteoWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="dajMeteoPodatkeZaPeriodTimestamp">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajVazeceMeteoPodatke">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajMeteoPodatkeZaPeriodLong">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajZadnjihNMeteopodataka">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajZadnjeMeteoPodatke">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="GeoMeteoWS">
<port name="GeoMeteoWSPort" binding="tns:GeoMeteoWSPortBinding">
<soap:address location="http://localhost:8084/damdrempe_aplikacija_1/GeoMeteoWS"/>
</port>
</service>
</definitions>